* {
    font-family: Roboto;

/* Sections */
}
header, .hero, footer {
    background-color: #1F2937;
    color: #F9FAF8;

}
header, .hero, .info, .q_section, footer {
    width: 800px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px 10px 20px;
    box-sizing: border-box;
}
.hero {
    display: flex;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;

}
.info{
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}
.action{

}
.q_section {
    background-color: #E5E7EB;
}
/* Header parts */
.logo {
    font-size: 24px;
    font-weight: 700;
}
.link_container{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.link{

}
/* Information parts */
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;

.subtext{
    display: flex;
}
/* Para styles */
h1 {
    font-size: 48px;
    font-weight: 900;
}

}
img{
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 360px;
}
.summ {
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}