* {
    font-family: Roboto;

/* Sections */
}
header, .hero, footer{
    background-color: #1F2937;
    color: #F9FAF8;

}
header, .hero, .info, .q_section, .action, footer{
    width: 800px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px 10px 20px;
    box-sizing: border-box;
}
.hero{
    display: flex;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;

}
.info{
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}
.q_section{
    background-color: #E5E7EB;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}
.action{
    background-color: #3882F6;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
/* Header/hero parts */
.logo{
    font-size: 24px;
    font-weight: 700;
}
.link_container{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
h1 {
    font-size: 48px;
    font-weight: 900;
}

.summ{
    font-size: 18px;
}
.link{

}
img{
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 360px;
}
/* Information parts */
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.refer_line{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;

}
.info_refer_container{
    width: 150px;
    
}
.rounded{
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    box-sizing: border-box;
}
.subtext{
    text-align: center;
    width: px;
}
/* Quote parts */
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}
.thor{
    text-align: right;
    font-weight: bold;
}
/* Call to action parts */
.call_container{
    color: #F9FAF8;
}
.call_head{
    font-weight: 600;
    font-size: 18px;
}
.call_text{
    font-weight: 300;
}
.sign_bottom{
    color: #F9FAF8;
    background-color: #3882F6;;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    height: 30px;
}
